.header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px calc(100vh - 80px);
      grid-template-rows: 60px calc(100vh - 80px);
  -ms-grid-columns: auto 50% auto;
      grid-template-columns: auto 50% auto;
  position: relative;
      grid-template-areas: 'nav nav nav' 'motto motto motto';
}

.motto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: motto;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-grid-row-align: center;
      align-self: center;
  height: 360px;
}

@media (min-width: 824px) {
  .motto {
    height: auto;
    -ms-grid-columns: 150px 1fr auto;
        grid-template-columns: 150px 1fr auto;
  }
}

.motto__words {
  font-size: 7rem;
  line-height: 90%;
  color: #d80000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media (min-width: 824px) {
  .motto__words {
    font-size: 10rem;
  }
}

.motto__words .motto__word:nth-child(1) {
  -webkit-text-stroke: 2px #d80000;
  -webkit-text-fill-color: transparent;
}

.motto__photo {
  z-index: -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: blue;
}

@media (min-width: 824px) {
  .motto__photo {
    width: auto;
  }
}

.motto__circle {
  position: relative;
  width: 100px;
  height: 101px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (min-width: 824px) {
  .motto__circle {
    grid-column: 3/-1;
    width: 150px;
    height: 151px;
    cursor: pointer;
  }
}

.motto__circle-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (min-width: 824px) {
  .motto__circle-arrow {
    width: 30px;
  }
}

.motto__circle-words {
  width: 100px;
  -webkit-animation: spinning-circle 10s infinite linear;
          animation: spinning-circle 10s infinite linear;
}

@-webkit-keyframes spinning-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 824px) {
  .motto__circle-words {
    width: 150px;
  }
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr 40px 40px;
      grid-template-columns: 60px 1fr 40px 40px;
      grid-template-areas: 'button logo basket search';
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  position: relative;
}

@media (min-width: 824px) {
  .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40px 1fr 40px;
        grid-template-columns: 40px 1fr 40px;
        grid-template-areas: 'basket list search';
    margin: 0 20px;
  }
}

.nav__button {
  padding: 5px;
  background-color: transparent;
  border: none;
  width: 60px;
  height: 50px;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: button;
  z-index: 3;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.nav__button.nav__button--open {
  color: lightgray;
}

.nav__button.nav__button--open::after {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  content: '';
  position: absolute;
  top: 80%;
  left: 50%;
  background-color: lightgray;
  width: 54%;
  height: 2px;
}

.nav__button.nav__button--open::before {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  content: '';
  position: absolute;
  top: 90%;
  left: 50%;
  background-color: lightgray;
  width: 54%;
  height: 2px;
}

@media (min-width: 824px) {
  .nav__button {
    display: none;
  }
}

.nav__button::after {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  position: absolute;
  top: 80%;
  left: 50%;
  background-color: black;
  width: 54%;
  height: 2px;
}

.nav__button::before {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  position: absolute;
  top: 90%;
  left: 50%;
  background-color: black;
  width: 54%;
  height: 2px;
}

.nav__list {
  list-style: none;
  background-color: #d80000;
  position: absolute;
  width: 60%;
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.75rem;
  -webkit-animation: menu-smooth-back 0.7s both;
          animation: menu-smooth-back 0.7s both;
  text-transform: uppercase;
  opacity: 0;
}

.nav__list--visible {
  opacity: 1;
}

@media (min-width: 824px) {
  .nav__list {
    -webkit-animation: none;
            animation: none;
    opacity: 1;
    text-transform: none;
  }
  .nav__list::after {
    display: none;
  }
}

@-webkit-keyframes menu-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes menu-smooth {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes menu-smooth {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes menu-smooth-back {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes menu-smooth-back {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.nav__list::after {
  -webkit-animation: menu-smooth-back 1s both;
          animation: menu-smooth-back 1s both;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

.nav__list.nav__list--open {
  -webkit-animation: menu-smooth 1s both;
          animation: menu-smooth 1s both;
}

.nav__list.nav__list--open > .nav__item {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav__list.nav__list--open::after {
  -webkit-animation: menu-smooth 1s both;
          animation: menu-smooth 1s both;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.2s cubic-bezier(0.24, 1.01, 0.63, 0.88);
  transition: 0.2s cubic-bezier(0.24, 1.01, 0.63, 0.88);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

@media (min-width: 824px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-area: list;
    width: 100%;
    font-size: 1.9rem;
    position: relative;
    height: auto;
    color: black;
    background-color: transparent;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.nav__list .nav__item {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

@media (min-width: 824px) {
  .nav__list .nav__item {
    padding: 0 15px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .nav__list .nav__item:nth-of-type(3) {
    margin-left: auto;
  }
  .nav__list .nav__item:nth-of-type(2) {
    margin-right: auto;
  }
}

.nav__link {
  display: block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (min-width: 824px) {
  .nav__link {
    color: black;
  }
}

.nav__link-basket {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: basket;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link-search {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 824px) {
  .nav__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.nav__logo .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 80%;
}

.nav__logo .nav__link .nav__picture {
  width: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__link {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
}

body {
  max-width: 1240px;
  margin: 0 auto;
  background-color: white;
  z-index: 0;
}

body.open-menu {
  height: 100vh;
}

:root {
  font-size: 10px;
}
/*# sourceMappingURL=main.css.map */