.header {
    // margin-top: 20px;
    // height: 200vh;
    width: 100%;
    display: grid;
    grid-template-rows: 60px calc(100vh - 80px);
    grid-template-columns: auto 50% auto;
    position: relative;
    // margin-top: 15px;
    grid-template-areas: 'nav nav nav'
        'motto motto motto'
}

.motto {
    grid-area: motto;
    justify-self: center;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    align-self: center;
    height: 360px;


    @media (min-width: $mobile) {
        height: auto;
        grid-template-columns: 150px 1fr auto;
    }


    &__words {
        font-size: $slogan-font-size-mobile;

        @media (min-width: $mobile) {
            font-size: $slogan-font-size-desctop;
        }

        line-height: 90%;
        color: $main-color-red;
        grid-column: 1/3;
        grid-row: 1;

        .motto__word:nth-child(1) {
            -webkit-text-stroke: 2px $main-color-red;
            -webkit-text-fill-color: transparent;
        }
    }

    &__photo {
        z-index: -1;
        grid-column: 2/3;
        grid-row: 1;
        width: 200px;
        align-self: center;
        background-color: blue;

        @media (min-width: $mobile) {
            width: auto;
        }
    }

    &__circle {
        position: relative;
        width: 100px;
        height: 101px;
        grid-column: 1/2;
        grid-row: 1;
        align-self: end;


        @media (min-width: $mobile) {
            grid-column: 3/-1;
            width: 150px;
            height: 151px;
            cursor: pointer;
        }

        &-arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);

            @media (min-width: $mobile) {
                width: 30px;
            }
        }

        &-words {
            width: 100px;
            animation: spinning-circle 10s infinite linear;

            @keyframes spinning-circle {
                0% {
                    transform: rotate(0deg)
                }

                20% {
                    transform: rotate(72deg)
                }

                40% {
                    transform: rotate(144deg);
                }

                60% {
                    transform: rotate(216deg);
                }

                80% {
                    transform: rotate(288deg);
                }

                100% {
                    transform: rotate(360deg)
                }

            }

            @media (min-width: $mobile) {
                width: 150px;
            }
        }
    }
}