@mixin pseudo-element($top, $left, $color, $width, $height) {
    content: '';
    position: absolute;
    top: $top;
    left: $left;
    background-color: $color;
    width: $width;
    height: $height;
}